/* Arquivo WheelOfFortuneGame.module.css */

.wheel-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.wheel {
    width: 300px;
    height: 300px;
    background-color: #FCD34D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wheel-item {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 75px 0;
    border-color: #FCD34D transparent transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 3s ease-in-out;
}

.pin {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.spin-animation {
    transform: translateX(-50%) rotate(1080deg);
}
