footer {
    background-color: #021427;
    color: white;
    width: 100%;
    min-height: 10vh;
    max-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media query para esconder o footer em telas com largura mínima de 480px */
@media (min-width: 480px) {
    footer {
        display: none;
    }
}

.footerList{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 2em;
    gap: 1em;
}

